@import "../../../styles/variables.scss";

.final_verdict {
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (max-width:$md-breakpoint){
        flex-direction: column-reverse;
        gap: 0px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;

        .result_info {
            text-align: center;
        }
    }
}