@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.custom_button{
    align-items: center;
    margin-left: auto;
    margin-top: 20px;

    button{
        @include button
    }
}